header {
    height: 111px;
    background-color: var(--clr-cream);
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 26px;
}

.logo {
    width: 145px;
    font-size: 1.5625rem;
    font-weight: 900;
    line-height: 40px;
    color: #000;
    text-decoration: none;
}



.link-container {
    display: flex;
    gap: 1rem;
    
}

.link-container a {
    text-decoration: none;
    font-size: var(--fs-400);
    font-weight: 600;
    color: var(--clr-gray);
    text-underline-offset: 2px;
}

/* .link-container a:focus {
    text-decoration: underline;
} */
.link-container a:hover  {
    text-decoration: underline;
    text-underline-offset: 2px;
    /* color: var(--clr-dark-black); */
    /* transform: translate(1px, 1px); */
}

.main-nav a.nav-active {
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: 700;
    color: var(--clr-dark-black);
}

