.host-van-detail-container {
    height: calc(100% - 96.6px);
    padding-inline: 26px;
    padding-bottom: 45px;
}

.host-van-detail-container a {
    display: block;
    margin-bottom: 37px;
}


.host-van-detail-tile {
    background-color: #FFF;
    /* height: calc(100% - 56px); */
    border-radius: 5px;

    padding: 23px 25px 23px 25px;
}


.host-van-detail-top-section {
    display: flex;
    align-items: center;
    height: 157px;
    gap: 19px;
}

/* .host-van-detail-top-section div {
    height: 100%;
} */

.host-van-detail-top-section img {
    width: 160px;
}

.host-van-detail-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-van-detail-title div i {
    /* display: block; */
    margin-bottom: 18px;
}

.host-van-detail-title div h1 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 1.625rem;
}

.host-van-detail-title div p {
    font-size: 1.25rem;
    font-weight: 700;
}

.host-van-detail-title div p span {
    font-size: 1rem;
    font-weight: 500;
}



.host-van-detail-nav {
    display: flex;
    gap: 21px;
}

.host-van-detail-nav a {
    color: var(--clr-gray);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 26px 0 26px;
}

.host-van-detail-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.host-van-detail-bottom-section .details p{
    font-size: var(--fs-300);
    font-weight: 500;
    color: var(--clr-dark-black);
    line-height: 21px;
    margin-bottom: 15px;
}

.host-van-detail-bottom-section .details p span {
    font-weight: 700;
}

.host-van-detail-bottom-section .pricing p {
    font-size: var(--fs-500);
    color: var(--clr-dark-black);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.host-van-detail-bottom-section .pricing p span {
    font-size: var(--fs-400);
    color: var(--clr-gray);
}

.host-van-detail-bottom-section .photos {
    margin-top: 10px;
    height: 101px;
}

.host-van-detail-bottom-section .photos img {
    height: 100%;
    width: 103px;
}
