

.host-vans-container h1 {
    padding-left: 26px;
    padding-bottom: 32px;
}

.host-van-tile-container {
    background-color: #FFF;
    margin-bottom: 15px;
    margin-inline: 26px;
    height: 102px;
    border-radius: 5px;
}

.host-vans-container a {
    text-decoration: none;
    background-color: #fff;
}

.host-vans-container img {
    width: 65px;
    margin: 18px 0 18px;
    margin-left: 24px;
}

.host-van-tile {
    display: flex;
    align-items: center;
    gap: 17px;
}

.host-van-title h3 {
    color: var(--clr-dark-black);
    font-size: 1.25rem;
    margin-bottom: 2px;
}

.host-van-title p {
    color: var(--clr-gray);
}